* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/***** REUSABLE *****/
.row {
    width: 1140px;
    margin: 0 auto;
}

.heading-main h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;

}

.heading-main h2:after {
    content: "";
    display: block;
    width: 150px;
    border-bottom: 2px solid #000;
    margin: 20px auto;
}


/***** HEADER *****/

header {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url("Images/17.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

#logo img {
    width: 100px;
    position: absolute;
    top: 2%;
    margin-top: 10px;
}

nav ul {
    float: right;
    margin-top: 35px;
}

nav ul li {
    display: inline-block;
    margin-left: 40px;
}

nav ul li a:link,
nav ul li a:visited {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover,
nav ul li a:active {
    transition: border-bottom 0.5s;
    border-bottom: 2px solid red;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
}


.header-text h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 6px;
}

.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    letter-spacing: 1px;
}

.btn-full:link,
.btn-full:visited {
    background: #ff4635;
    border: 1px solid #fff;
} 


.btn-full:hover,
.btn-full:active {
    transition: 0.5s;
    background: #e7005f;
    border: 1px solid #e7005f;
}

.btn-empty:link,
.btn-empty:visited {
    margin-left: 5px;
    background: transparent;
}

.btn-empty:hover,
.btn-empty:active {
    transition: 0.5s;
    background: #e7005f;
    border: 1px solid #e7005f;
}

/***** ABOUT US *****/
.smoothie-example img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 6px 10px #000;
}


/***** OUR SMOOTHIE *****/
.smoothie-info img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 6px 10px #000;
}

.text-smoothie {
    margin-bottom: 35px;
}

.text-smoothie div {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    text-align: center;
    border-radius: 50%;
    padding: 12px;
    float: left;
}

.text-smoothie p {
    margin-left: 60px;
    font-size: 20px;

} 




/*****REFERENCES*****/

.reference {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(Images/31.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
    


.reference h2 {
    color: #fff;
    padding-top: 40px;
}

.reference h2:after {
    border-bottom: 2px solid #fff;
}


.one-reference {
    color: #fff;
    font-size: 20px;
}

.one-reference p {
    font-style: italic;
}

.photo-name {
    margin-top: 10px;
    margin-bottom: 60px;

}

.photo-name p {
    padding: 13px;
    margin-left: 60px;
    font-style: normal;
    

}

.photo-name img {
    width: 50px;
    border-radius: 50%;
    float: left;
}




/***** Stop floating - až na konec CSS *****/
.clearfix {zoom: 1}
.clearfix:after {
content: ".";
clear: both;
display: block;
height: 0;
visibility: hidden;
}
